@(fileName: String)

@main("Video player") {
  <div class="container">

    <h1 class="title"><a href="/">Home</a></h1>

    <script>
        function failed(e) {
          // video playback failed - show a message saying why
          switch (e.target.error.code) {
            case e.target.error.MEDIA_ERR_ABORTED:
              alert('You aborted the video playback.');
              break;
            case e.target.error.MEDIA_ERR_NETWORK:
              alert('A network error caused the video download to fail part-way.');
              break;
            case e.target.error.MEDIA_ERR_DECODE:
              alert(
                  'The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
              break;
            case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
              alert(
                  'The video could not be loaded, either because the server or network failed or because the format is not supported.');
              break;
            default:
              alert('An unknown error occurred.');
              break;
          }
        }
    </script>


    <div class="card">
      <div class="card-image has-text-centered has-text-justified">
        <div>
          <video src="/media/files/@fileName" type='video/m4v' controls="true" playsinline onerror="failed(
              event)" ></video>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
        @fileName
        </div>
      </div>
    </div>

  </div>
}